$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-death-star: "\e900";
$icon-millennium-falcon: "\e901";
$icon-sable-de-luz: "\e902";
$icon-simbolo-del-logotipo-de-jedi: "\e903";

